.modal-area {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  border-radius: 20px;
  background: #fff;
  transition: all 0.3s;
}
.modal-header {
  padding: 10px;
}
.modal-header h1 {
  font-size: 20px;
}
.modal-header .close {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
}
