@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bentham&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bentham&family=Dosis:wght@200..800&display=swap");

body {
  font-family: "Bentham", serif;
  font-weight: 400;
  font-style: normal;
}

.products-wrap {
  width: 1500px;
  margin: 0 auto;
}
